PORT=2500
DATABASE_USER=app_user
DATABASE_PASSWORD=ALCYXHqJ
DATABASE_NAME=nestjs_test
DATABASE_PORT=15432
DATABASE_HOST=172.10.10.10


# Kafka Config
KAFKA_CLIENT_ID=playground-kafka
KAFKA_BROKERS=kafka:9092
KAFKA_GROUP_ID=playground-group

# RabbitMQ Config
RABBIT_URLS=amqp://localhost:5672
RABBIT_QUEUE=playground-queue